{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />
  <!--<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  /> -->
  <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
  <title>Hello world!</title>
</head>

<body>
  <br>
  <br>
  <main class="container">
    <section class="main-data">
      <div class="container">
        <div class="filter grid">
          <div class="item">
            <form action="{% url 'main:filter_by_position' %}" method="post">
              {% csrf_token %}
              <label for="positions">Choose a position:</label>
              <select name="position" id="positions">
                <option value="gk">Darvozabon</option>
                <option value="df">Himoyachi</option>
                <option value="md">Yarim himoyachi</option>
                <option value="fw">Hujumkor himoyachi</option>
                <option value="st">Hujumchi</option>
              </select>
              <input type="submit" value="Filter">
            </form>
          </div>
          <div class="item">
            <form action="{% url 'main:filter_by_age' %}" method="post">
              {% csrf_token %}
              <input type="date" name="min_age" >
              <input type="date" name="max_age" >
              <input type="submit" value="Filter">
            </form>
          </div>
          <div class="item">2</div>
          <div class="item">3</div>
        </div>
        <br>
        <hr>
        <h3>Leaguages</h3>
        <table border="1">
          {% for league in object_list %}
          <tr>
            <td>
              <a href="{% url 'main:leaguage_detail' league.id %}">
                <img src="{{league.logo.url}}" width="100" alt="">
                {{league.name}}
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
        <table border="1">
          {% for club in clubs %}
          <tr>
            <td>
              <a href="">
                <img src="{{club.logo.url}}" width="100" alt="">
                {{club.name}}
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
        <table border="1">
          {% for player in players %}
          <tr>
            <td>
              <a href="">
                <img src="{{player.image.url}}" width="100" alt="">
                {{player.name}}
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </section>
  </main>
</body>

</html>