{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <!--<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  /> -->
  <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    <title>Player</title>
  </head>
  <body>
    <main class="container">
      <section class="main-data">
        <h4>
            <img src="{{object.image.url}}" width="100" alt="">
            {{object.name}}
        </h4>
        <h5><strong>Davlati : </strong>{{object.country}}</h5>
        <h5><strong>Tug'ilgan : </strong>{{object.date_of_birth}}</h5>
        <h5><strong>Yoshi : </strong>{{object.get_age}}</h5>
        <h5><strong>Transfer narxi : </strong>{{object.transfer_summa}}</h5>
        <h5><strong>Pozitsiyasi : </strong>
          {% if object.position == 'gk' %}
          Darvozabon
          {% elif object.position == 'df' %}
          Himoyachi
          {% elif object.position == 'md' %}
          Yarim himoyachi
          {% elif object.position == 'fw' %}
          Hujumkor himoyachi
          {% elif object.position == 'st' %}
          Hujumchi
          {% endif %}
          
          <span></span>
        </h5>
        <h5><strong>Bo'yi : </strong>{{object.height}}</h5>
        <h5><strong>Vazni : </strong>{{object.weight}}</h5>

      </section>
    </main>
  </body>
</html>