{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/milligram.css' %}">

    <title>Home Page</title>
</head>

<body>
    <header>
        <nav class="container">
            <ul style="display: flex; gap:25px; list-style:none;" >
                <li><a href="{% url 'users:login' %}" class="link">Login</a></li>
                <li><a href="{% url 'users:logout' %}" class="link">Logout</a></li>
                <li><a href="{% url 'users:register' %}" class="link">Register</a></li>
                <li><a href="{% url 'users:password_change' %}" class="link">Password change</a></li>
            </ul>
        </nav>
    </header>
        <main class="container">
        <h3>Hello - 
            {% if request.user.first_name %} 
                {{request.user.first_name}} 
            {% else %} 
                {{request.user.username}}
            {% endif %}
        </h3>
    </main>
</body>

</html>